.pagination-container {
  text-align: center;
  margin: 40px 0;
}

.pagination {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination li {
  display: inline;
}

.pagination a {
  color: #23866e;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0 4px;
  border-radius: 4px;
  font-family: sans-serif;
}

.pagination a:hover {
  background-color: #ddd;
}

.pagination a.active {
  background-color: #1ea18c;
  color: white;
  border: 1px solid #09fc9f;
}
