.footer {
  display: grid;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;

  font-size: 14px;
  background-color: rgb(26, 29, 40);
  background-image: linear-gradient(to right, #000000, rgba(12, 154, 121, 0.4));
  color: #bbb;
  padding: 15px 0;
  text-align: center;
  z-index: 1;
}

.footer a {
  color: #95c7b4;
  text-decoration: none;
  transition: text-shadow 0.3s ease;
}

.footer a:hover {
  text-shadow: 0 0 8px #00ff9f;
}

